* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    padding-right: 10px;
    height: 10vh;
    background-color: rgb(137, 132, 132);
}

nav > .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    margin: 5px;
    width: 30vw;
}

nav > .logo > img {
    height: 60%;
}

nav > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    width: 70vw;
    
}

nav > ul > li > a {
    margin: 5px;
    text-decoration: none;
}

.wrapper {
    display: flex;
    height: 85vh;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    background-color: rgb(114, 5, 5);
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    background-color: rgb(213, 4, 140);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: rgb(137, 132, 132);
}