* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.login-form form {
    display: flex;
    flex-direction: column;
}